#Home
    width: 100%
    background-color: #24252A
    img
        max-width: 384px
        width: 100%
        display: block
        margin: 0 auto
        padding-top: 5%
        -webkit-user-select: none

    .JoinButtons
        padding-top: 80px
        a
            text-align: center
            width: 40%
            margin: 0 5%

            @media screen and ( min-width: 833px )
                width: 20%
                margin: 0 15%
        @media screen and ( max-width: 414px )
            padding-top: 50px


    #text
        padding-top: 60px
        font-size: 35px
        text-align: center
        color: #ffff
        font-weight: bold
        @media screen and ( max-width: 414px )
            padding-top: 20px
            font-size: 20px
            
    
    .Description
        margin: 40vh 0
        transition: .4s
        color: #ffff
        span
            font-size: 26px
            font-weight: bold
            margin-left: 3%
        p
            margin-left: 3%