#Dashboard-menu
    position: relative
    height: 100%
    background-color: #2F3136
    transition: width .3s
    #Menu
        padding: 0
        margin: 0
        height: 100%
        width: 100%
        position: relative
        overflow: auto
        &::-webkit-scrollbar
            width: 6px
            border-radius: 20px
            background-color: #2E3338
        &::-webkit-scrollbar-thumb
            background-color: #202225
            border-radius: 20px
        .Options
