.setting-save-close, .setting-save-open
    position: fixed
    // width: 350px
    z-index: 0
    background-color: #1a1b20
    flex-grow: 1
    color: #ffff
    align-items: center
    font-size: 17px
    border-radius: 10px
    right: 20px
    transition: .3s
    @media screen and ( max-width: 370px )
        left: 20px
    .Buttons
        display: grid
        padding: 15px
        gap: 24px
        grid-template-columns: 1fr 1fr
    .Text
        padding: 16px
        padding-bottom: 5px
    
.setting-save-close
    bottom: -300px

.setting-save-open
    bottom: 20px

.setting-page
    height: calc( 100% - 62px )
    // min-height: 650px
    .block
        height: 200px

