.setting-save-close, .setting-save-open
    position: fixed
    width: 200px
    z-index: 99999999
    background-color: #1a1b20
    right: 20px
    flex-grow: 1
    color: #ffff
    align-items: center
    font-size: 17px
    border-radius: 10px
    .Buttons
        display: grid
        padding: 15px
        gap: 24px
        grid-template-columns: 1fr 1fr
    .Text
        padding: 16px
        padding-bottom: 5px

    
.setting-save-close
    bottom: -70px

.setting-save-open
    bottom: 20px

.setting-page
    height: calc( 100% - 62px )
