#welcome
    position: relative

    #outlined-textarea-label, #outlined-textarea
        color: #ffff
        &::-webkit-scrollbar
            width: 6px
            border-radius: 20px
            background-color: #2E3338
        &::-webkit-scrollbar-thumb
            background-color: #202225
            border-radius: 20px

    .MuiTextField-root
        max-width: 483px
        width: 100%
        background-color: rgb(31, 33, 41)
        border-radius: 5px
