.roles
    display: flex
    margin: 8.5px
    width: 15px
    height: 15px
    background-color: rgba(148, 148, 148, 0.664)
    border-radius: 50%
    position: relative
    
    &:focus #roles-menu
        position: absolute
        top: 40px
        left: -125px
        width: 250px
        height: 100%
        background-color: #17181E
        z-index: 1
        display: table  
        
#roles-menu
    overflow: hidden
    width: 0
    height: 0


.select-roles
    background-color: rgba(31, 33, 41, 0)
    border-color: #ffff
    border-style: solid
    border-width: 1px
    color: #ffff
    svg
        color: #ffffff81
        width: 15px
        height: 15px
        &:hover
            color: #ffff